<div class="banner text-center" style="background-image: url(<%=@cocktail.picture%>)">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1> <%= cocktail %> </h1>
    <p>Hot & spicy</p>
  </div>
</div>
